
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: #95D4FD;
    display: flex;
    justify-content: center;

}

.main_pro{

    /*background-color: red;*/

    width: 90vw;
    grid-template-columns: 1fr;

    grid-template-areas:
        "one"
        "two"
        "two";

    grid-template-rows: minmax(0rem,30rem) auto auto;

}
/*--THE MAIN DIV THAT WILL SET THE LAYOUT for user profile and basic information--*/

.i_one{

    grid-area: one;

    width: 40%;
    height: 60%;

    justify-self: center;
    align-self: center;

    border: 1.5rem groove #8FB8EE;
    background-color: white;



}



.i_two{

    grid-area: two;

    width: 100%;
    /*border: 2px solid wheat;*/



}

.t_r{
    border-bottom: 3px groove black;
    border-right: 3px groove black;

    border-radius: 2px;

    height: 3rem;
    margin-top: 1rem;

    background-color: #8FB8EE;

    pointer-events: none;

    color: black;
}

.t_l{
    /*border-bottom: 2px solid black;*/
    margin-top: 1rem;

    background-color: #F1FBFF;
    color: black;

    pointer-events: none;

}

.t_l2{
    margin-top: 1rem;

    background-color: #F1FBFF;
    /*color: black;*/

    pointer-events: none;
}

/*--THE ITEMS GOING INSIDE THE PROFILE GRID--*/
