
*{
    box-sizing: border-box;
}



body{
    background-color: #95D4FD;
}


.navBar{
    background-color: #8FB8EE;
}


/*-------------THIS IS THE COLOR OF THE FORM-------------------------------*/

.f_div_h{
    background-color: #8FB8EE;;
}

.sub_min{
    background-color: #00D6E8;

}

.sub_min:hover{
    background-color: #00E9B9;
}
/*-------------THIS IS THE COLOR OF THE submit button-------------------------------*/
